<a href="https://colab.research.google.com/github/uwerrrr/mySQL-analytics/blob/main/plotting_exported_views.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import csv files containgin VIEWS exported from mySQL

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
total_rev_per_country = pd.read_csv('/content/total_rev_per_country.csv', names = ['CountryName', 'TotalRevenue'])
monthly_rev_trend = pd.read_csv('/content/monthly_rev_trend.csv', names = ['Month', 'MonthlyRevenue'])
invoice_totals = pd.read_csv('/content/invoice_totals.csv', names = ['InvoiceID', 'InvoiceTotal'])
avg_invoice_amount = pd.read_csv('/content/avg_invoice_amount.csv', names = ['AverageInvoiceAmount'])

In [21]:
total_rev_per_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CountryName   37 non-null     object
 1   TotalRevenue  37 non-null     float64
dtypes: float64(1), object(1)
memory usage: 720.0+ bytes

In [22]:
total_rev_per_country.head

<bound method NDFrame.head of                CountryName  TotalRevenue
0         United Kingdom\r  3.974986e+08
1                Germany\r  1.556358e+07
2                 France\r  1.144496e+07
3                Belgium\r  3.932064e+06
4                  Spain\r  2.985751e+06
5               Portugal\r  1.505706e+06
6            Switzerland\r  1.500339e+06
7                Finland\r  1.480976e+06
8                   EIRE\r  1.110317e+06
9                 Norway\r  7.870787e+05
10               Austria\r  7.807030e+05
11             Australia\r  7.668094e+05
12                Sweden\r  7.402703e+05
13               Denmark\r  6.807585e+05
14                 Italy\r  5.299989e+05
15                Cyprus\r  2.732469e+05
16                Poland\r  1.494776e+05
17                 Malta\r  1.393922e+05
18    European Community\r  1.232345e+05
19                   RSA\r  1.151888e+05
20                Greece\r  1.104522e+05
21       Channel Islands\r  9.712022e+04
22             Singapore\r  4.559819e+04
23                Israel\r  2.787414e+04
24                Canada\r  2.545475e+04
25  United Arab Emirates\r  2.028900e+04
26               Iceland\r  1.490982e+04
27           Unspecified\r  9.969270e+03
28               Lebanon\r  7.050950e+03
29                   USA\r  6.027660e+03
30             Lithuania\r  5.620760e+03
31                Brazil\r  5.036830e+03
32        Czech Republic\r  2.387920e+03
33               Bahrain\r  1.501560e+03
34          Saudi Arabia\r  4.503400e+02
35                 Japan\r -1.819655e+05
36           Netherlands\r -5.048233e+07>

In [18]:
total_rev_per_country['country'] = total_rev_per_country['country'].str.strip()